<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/images/Picture1.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirmaan-Club||<%=name%>
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap"
        rel="stylesheet">
    <!-- linking main styling file -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/eventsredirect.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
    
</style>

<body>
    <!-- adding navbar section -->
    <div class="navbarposition">
        <%- include("partials/navbar.ejs") %>
    </div>

    <!-- adding name of particular event -->
    <div class="contr">
        <div class="titled">
            <h1>
                <%=name%>
            </h1>
        </div>
        <!--  about the event -->
        <div class="info">
            <hr>
            <div class="colr about">
                <span>
                    <%=eventdata.about%>
                </span>
            </div>
            <hr>
            <!-- event price money -->
            <% if(eventdata.price){%>
                <div class="colr price">
                    <h4>Price Worth: &nbsp <h4>
                            <%=eventdata.price%>
                        </h4>
                    </h4>
                </div>
                <hr>
                <%}%>
                    <!-- event winners and runnerups -->
                    <% if(winnerlist.length){%>
                        <div class="colr winners">
                            <h4>Winners:</h4>
                            <% for( let i=0;i<winnerlist.length;i++){%>
                                <span>
                                    <%=i+1%>: <%= winnerlist[i]%>
                                </span>
                                <br>
                                <%}%>
                        </div>
                        <%}%>

        </div>

    </div>

    <!-- adding footer section -->
    <div class="footerposition">
        <%- include("partials/footer.ejs") %>
    </div>
</body>

</html>