<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="eSee4zPkYDsPLiwNKfP6Ei-W-5RT8tN4eTjvEbJhYhY" />
    <link rel="icon" href="/images/Picture1.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirmaan-Club||Activity</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap" rel="stylesheet">
    <!-- linking main styling file -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/events.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body onload = "load()">
    <%- include("partials/preloader.ejs") %>
    <!-- navbar section -->
    <div class="navbarposition">
        <%- include("partials/navbar.ejs") %>
    </div>
    <!-- overlay for name -->
    <div class="entry">
        <div class="titled">
            NIRMAAN ACTIVITIES
        </div>
    </div>

    <br><br>
    <!-- main container -->
    <div class="site-warp">
        <div class="contr">
            <!-- for event variety -->
            <% for (let event in events){%>

                <div class="titlename">
                    <%=event%>
                </div>

                <hr>
                <!-- for particular event -->
                <div class="eventname">
                    <% for(let i=0;i<events[event].length;i++){%>
                        <div class="one">
                            <div class="boxes">
                            <a href="/eventname?eventname=<%=event%>&event=<%= events[event][i].topic%>&num=<%= i %>"
                                    >
                                    <img loading="eager" src="<%= events[event][i].image %>" alt="">
                                </a>
                                <span>
                                    <%= events[event][i].topic%>
                                </span>
                            </div>
                        </div>
                        <%}%>
                </div>
                <br><br>
                <%}%>

        </div>

    </div>

    <!-- footer section -->
    <div class="footerposition">
        <%- include("partials/footer.ejs") %>
    </div> 
</body>
</html>