<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/images/Picture.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirmaan-Club||Events</title>
    <!-- linking main styling file -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/events.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
    .one:hover {
        transform: translateY(0px);
        transition: all 0.5s;
    }

    .one {
        transform: translateY(10px);
        transition: all 0.5s;
    }

    .boxes{
        border-radius: 20px;
    }
    .boxes img{
        border-radius: 20px 20px 0px 0px ;
    }

    .boxes {
        min-height: 350px;
        height: auto;
    }
    .boxes span{
        font-size: 1.5rem;
        color: black;     
    }
    .boxes{
        text-align: center;
        background: white;
    }
</style>


<body>
    <div class="navbarposition" style="background-color: white;";
    width: 100%;
    z-index: 1;>
        <%- include("partials/navbar.ejs") %>
    </div>
    <div class="site-warp" style="padding-bottom: 50px;width: 100% ;height:auto;">
        <div class="titlebox" style="text-align: center;">
            <h1>
                NIRMAAN EVENTS
            </h1>
        </div>

        <div class="contr">
            <% for (let event in events){%>
                <div class="titlename">
                    <%=event%>
                </div>
                <hr>
                <div class="eventname">
                    <% for(let i=0;i<events[event].length;i++){%>
                        <div class="one">
                            <div class="boxes">
                                <a href="/eventname?eventname=<%=event%>&event=<%= events[event][i].topic%>&num=<%= i %>"
                                    target="_blank">
                                    <img src="<%= events[event][i].image %>" alt="">
                                </a>
                                <span>
                                    <%= events[event][i].topic%>
                                </span>
                            </div>
                        </div>
                        <%}%>
                </div>

                <%}%>
        </div>

    </div>
    <div class="footerposition" style="position:absolute; width: 100%; background-color: black;">
        <%- include("partials/footer.ejs") %>
    </div>
    </div>

    <script src="/js/event.js"></script>
</body>

</html>