<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/images/Picture.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirmaan-Club</title>
    <!-- linking main styling file -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <!-- navbar section -->
    <div class="navbarposition">
        <%- include("partials/navbar.ejs") %>
    </div>

    <!-- setting video background -->
    <div id="video">
        <video src="/images/mainbg.mp4" loop muted autoplay></video>
    </div>

    <!-- title overlay -->
    <dic class="title">
        <h1>Nirmaan Club</h1>
        </div>
        <br>
        <div class="container">
            <br>
            <!-- about us section -->
            <div id="info">
                <h2>ABOUT US</h2>
                <br>
                <p> Nirmaan Club is a Technical Club of IIT Mandi where someone can explore the beauty of civil
                    engineering
                    and related domains beyond academics!!
                    <br><br>
                    The club believes to give students some practical insight into civil engineering, we organize
                    several
                    events, workshop, expert talks,and site visits throughout the year to ongoing activities and
                    construction sites such as
                    dams, bridges, major buildings, SPT sites and many more...
                    <br>
                    <br>
                    On the whole, Nirmaan Club is dedicated to nurturing technology and including students talent in
                    civil
                    engineering via different activities.
                </p>
            </div>
            <!-- upcoming events section -->
            <div class=" upcomming">
                <h2>UPCOMING EVENTS</h2>
                <div class="section">
                    <%if(events.length> 0){%>
                        <% for (let i=0;i<events[''].length;i++){%>
                            <div class="card">
                                <img src="<%=events[''][i].image%>" alt="">
                                <br>
                                <div class="about">
                                    <span class="title">
                                        <%=events[''][i].topic %>
                                    </span>
                                    <span class="venue">
                                        <%=events[''][i].venue %>
                                    </span>
                                    <span class="date"><i class='far fa-calendar-alt'></i>:<%=events[''][i].date %>
                                    </span>
                                    <span class="time"><i class='far fa-clock'></i>:<%=events[''][i].time %></span>
                                </div>
                            </div>
                            <%}%>
                                <%} else{%>
                                    <img src="/images/coming.png" alt="">
                                    <%}%>
                </div>

            </div>
        </div>

        <!-- footer section -->
        <div class="footerposition">
            <%- include("partials/footer.ejs") %>
        </div>
</body>

</html>