<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="eSee4zPkYDsPLiwNKfP6Ei-W-5RT8tN4eTjvEbJhYhY" />
    <link rel="icon" href="/images/Picture1.png">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap"
        rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirmaan-Club</title>
    <!-- linking main styling file -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<style>
    .boxed {
        width: 300px;
        height: 300px;
        border-radius: 10px;
        margin: 20px;
        display: grid;
        place-items: center;
        background-color: rgb(0,0,0,0.5);
        box-shadow: 0px 0px 10px grey;
    }

    .project {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .boxed img{
        width: 300px;
        height: 300px;
        border-radius: 10px;
        z-index: -1;
    }

    .boxed h2 {
        transform: translateY(-150px);
        color:white !important;
    }

</style>

<body onload="load()">

    <%- include("partials/preloader.ejs") %>

        <!-- setting video background -->
        <div id="video">
            <video src="/images/mainbg.mp4" loop muted autoplay></video>
        </div>

        <!-- title overlay -->
        <div class="title" style="cursor: pointer;">
            <h1>Nirmaan Club</h1>
        </div>

        <!-- navbar section -->
        <div id="nav" class="navbarposition">
            <%- include("partials/navbar.ejs") %>
        </div>
        <br>

        <div class="container" style="cursor:pointer ;">
            <br>
            <!-- about us section -->
            <div id="info">
                <h2 class="h2">ABOUT US</h2>
                <br>
                <p> Nirmaan Club is a Technical Club of IIT Mandi where someone can explore the beauty of civil
                    engineering
                    and related domains beyond academics!!
                    <br><br>
                    The club believes to give students some practical insight into civil engineering, we organize
                    several
                    events, workshop, expert talks,and site visits throughout the year to ongoing activities and
                    construction sites such as
                    dams, bridges, major buildings, SPT sites and many more...
                    <br>
                    <br>
                    On the whole, Nirmaan Club is dedicated to nurturing technology and including students talent in
                    civil
                    engineering via different activities.
                </p>
            </div>
        </div>

        <!-- adding nirmaan fest -->
        <!-- <div class="container ">
            <h2 class="h2">CLUB PROJECTS</h2>
            <br><br>
            <section class="project">

                <% for( let key in projects){%>
                    
                    <div class="left boxed">
                        <img src = "<%= projects[key][0].image %>" alt="">
                        <h2 >
                            <a style="color:white ;" href="#"><%=key%></a>
                        </h2>
                    </div>                    

                    <%}%>

                
                <div class="mid boxed">
                    <img src="/images/bg.jpg" alt="">
                    <a href="#">EVENT-2</a>
                </div>
                <div class="right boxed">
                    <img src="/images/bg.jpg" alt="">
                    <a href="#">EVENT-3</a>
                </div> -->
            <!-- </section> -->

        <!-- </div> -->


        <!-- upcoming events section -->
        <div class="container upcomming" style="cursor: pointer;" >
            <h2 class="h2">UPCOMING EVENTS</h2>
            <div class="section">
                <%if(Object.keys(events)!=""){%>
                    <% for (let i=0;i<events['upcoming'].length;i++){%>
                        <div class="card">
                            <img src="<%=events['upcoming'][i].image%>" alt="">
                            <br>
                            <div class="about">
                                <span class="title">
                                    <%=events['upcoming'][i].topic %>
                                </span>
                                <span class="venue">
                                    <%=events['upcoming'][i].venue %>
                                </span>
                                <span class="date"><i class='far fa-calendar-alt'></i>:<%=events['upcoming'][i].date %>
                                </span>
                                <span class="time"><i class='far fa-clock'></i>:<%=events['upcoming'][i].time %></span>
                            </div>
                        </div>
                        <%}%>
                            <%} else{%>
                                <img src="/images/coming.png" alt="">
                                <%}%>
            </div>
        </div>


        <!-- upcoming events section
        <div class="container" id="contact">
            <h2 class="h2">CONTACT US</h2>
            <div class="section">
                
            </div>
        </div>

 -->
        <!-- footer section -->
        <div class="footerposition">
            <%- include("partials/footer.ejs") %>
        </div>


        <script src="/js/navbar.js"></script>
</body>

</html>