<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="eSee4zPkYDsPLiwNKfP6Ei-W-5RT8tN4eTjvEbJhYhY" />
    <link rel="icon" href="/images/Picture1.png">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirmaan-Club</title>
    <!-- linking main styling file -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body onload="load()">

    <%- include("partials/preloader.ejs") %>

    <!-- navbar section -->
    <div class="navbarposition">
        <%- include("partials/navbar.ejs") %>
    </div>

    <!-- setting video background -->
    <div id="video">
        <video src="/images/mainbg.mp4" loop muted autoplay></video>
    </div>

    <!-- title overlay -->
    <div class="title">
        <h1>Nirmaan Club</h1>
    </div>
        <br>
        <div class="container">
            <br>
            <!-- about us section -->
            <div id="info">
                <h2 class="h2">ABOUT US</h2>
                <br>
                <p> Nirmaan Club is a Technical Club of IIT Mandi where someone can explore the beauty of civil
                    engineering
                    and related domains beyond academics!!
                    <br><br>
                    The club believes to give students some practical insight into civil engineering, we organize
                    several
                    events, workshop, expert talks,and site visits throughout the year to ongoing activities and
                    construction sites such as
                    dams, bridges, major buildings, SPT sites and many more...
                    <br>
                    <br>
                    On the whole, Nirmaan Club is dedicated to nurturing technology and including students talent in
                    civil
                    engineering via different activities.
                </p>
            </div>
        </div>

        <!-- adding nirmaan fest -->
        <!-- <div class="conta">
            <h2>NIRMAAN FEST</h2>
            <br>
            <div class="festsection">
                <div class="btned">
                    <i id="left" class="fa fa-caret-left"></i>
                </div>

                <div class="mainedsection">
                    <br>
                    <div class="mained dnone">
                        <div class="imageon">
                            <img src="https://user-images.githubusercontent.com/115873607/199826218-8f03f758-c3f0-45a3-b4cb-6cb5d6609112.jpg"
                                alt="">
                        </div>
                        <div class="infod">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis blanditiis doloremque
                                accusamus eaque impedit? Quaerat quis tempore, iure quia ipsum itaque fuga nobis,
                                laboriosam architecto repudiandae accusamus explicabo debitis culpa provident quibusdam
                                quod quae dignissimos ducimus delectus temporibus veritatis doloribus. Doloremque
                                recusandae accusamus aliquam commodi optio vel facere, cum odit.</p>
                        </div>
                    </div>
                    <div class="mained">
                        <div class="imageon">
                            <img src="https://user-images.githubusercontent.com/107313172/201477121-6efb2a91-7a7b-4ba4-8f48-39cf33b7ae6a.jpg"
                                alt="">
                        </div>
                        <div class="infod">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, culpa voluptatem unde
                                provident aspernatur consequuntur quaerat doloremque, adipisci accusantium fuga ducimus
                                perferendis tempore facere aliquam et eligendi odit dolorum non aliquid exercitationem?
                                Rem ducimus, deleniti placeat earum saepe consequatur eveniet hic, quibusdam beatae
                                temporibus officiis. Ab amet fuga suscipit laboriosam!</p>
                        </div>
                    </div>
                    <div class="mained dnone">
                        <div class="imageon">
                            <img src="https://user-images.githubusercontent.com/107313172/201491102-d77edd43-4697-42e5-9dc4-94777fd8c85b.jpg"
                                alt="">
                        </div>
                        <div class="infod">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, sed? Odio ea
                                perferendis quasi provident repellat. Sed necessitatibus temporibus, veniam eveniet
                                vitae nihil voluptates facilis minus voluptatem ipsum tenetur dolor magni possimus sint
                                laudantium reprehenderit cumque commodi quis dolorum voluptas repellat? Cum voluptatibus
                                harum accusantium vitae rerum deserunt hic quisquam?</p>
                        </div>
                    </div>
                </div>

                <div class="btned">
                    <i id="right" class="fa fa-caret-right"></i>
                </div>
            </div>

        </div> -->




        <!-- upcoming events section -->
        <div class="container upcomming">
            <h2 class="h2">UPCOMING EVENTS</h2>
            <div class="section">
                <%if(Object.keys(events)!=""){%>
                    <% for (let i=0;i<events['upcoming'].length;i++){%>
                        <div class="card">
                            <img src="<%=events['upcoming'][i].image%>" alt="">
                            <br>
                            <div class="about">
                                <span class="title">
                                    <%=events['upcoming'][i].topic %>
                                </span>
                                <span class="venue">
                                    <%=events['upcoming'][i].venue %>
                                </span>
                                <span class="date"><i class='far fa-calendar-alt'></i>:<%=events['upcoming'][i].date %>
                                </span>
                                <span class="time"><i class='far fa-clock'></i>:<%=events['upcoming'][i].time %></span>
                            </div>
                        </div>
                        <%}%>
                            <%} else{%>
                                <img src="/images/coming.png" alt="">
                                <%}%>
            </div>
        </div>

        <!-- footer section -->
        <div class="footerposition">
            <%- include("partials/footer.ejs") %>
        </div>

        <script>
            // let leftbtn = document.getElementById('left');
            // let rightbtn = document.getElementById('right');
            // let fest = document.getElementsByClassName('mained');

            // console.log(leftbtn)
            // let count = 1;
            // fest[count].style.display = 'flex';

            // let timeinterval = setInterval(right, 5000);

            // leftbtn.addEventListener('click', left)
            // function left() {
            //     fest[count].style.display = 'none';
            //     count--;
            //     if (count >= 0) {
            //         fest[count].style.display = 'flex';
            //     }
            //     else {
            //         count = 2;
            //         fest[count].style.display = 'flex';
            //     }
            // }
            // rightbtn.addEventListener('click', right)
            // function right() {
            //     fest[count].style.display = 'none';
            //     count++;
            //     if (count <= 2) {
            //         fest[count].style.display = 'flex';
            //     }
            //     else {
            //         count = 0;
            //         fest[count].style.display = 'flex';
            //     }
            // }
        </script>
</body>

</html>