<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/images/Picture.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirmaan-Club||OurTeam</title>
    <!-- linking main styling file -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/ourteam.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<style>
.navitem {
    color: white ;
}
</style>

<body>
    <div class="navbarposition" style="position: absolute;z-index: 1; width: 100%;">
        <%- include("partials/navbar.ejs") %>
    </div>

    <div class="titlebox" style="text-align: center;">
        <h1>
            NIRMAAN TEAM
        </h1>
    </div>

    <div class="sitewarp"
        style="padding-bottom:40px ;width:100%;min-height:100vh;height: auto;background-color: rgb(0,0,0,0);">
        <div class="cont">
            <% for(let team in teams){%>
                <div class="title">
                    <h1 style="color: black;">
                        <br><br>
                        <%=team%>
                    </h1>
                </div>
                <div class="hr"></div>
                <br>
                <div class="conti">
                    <% for(let i=0;i<teams[team].length;i++){%>
                        <div class="profilecard">
                            <div class="hover">

                            </div>
                            <div class="circle">
                                <img src="<%=teams[team][i].image_link%>" alt="">
                            </div>
                            <div class="info">
                                <span class="name">
                                    <%=teams[team][i].name%>
                                </span>
                                <span class="pos">
                                    <%=teams[team][i].title%>
                                </span>
                            </div>
                            <div class="links">
                                <ul class="nav justify-content-center" style="font-size:25px;">

                                    <% if(teams[team][i].instalink!="" ){%>
                                        <li class="nav-item"><a style="color:black ;" target="_blank"
                                                href="<%=teams[team][i].instalink%>" class="nav-link"><i
                                                    class="fa fa-instagram"></i></a>
                                        </li>
                                        <%}%>
                                            <% if(teams[team][i].facebooklink!="" ){%>
                                                <li class="nav-item"><a style="color:black ;" target="_blank"
                                                        href="<%=teams[team][i].facebooklink%>" class="nav-link"><i
                                                            class="fa fa-facebook-f"></i></a>
                                                </li>
                                                <%}%>
                                                <% if(teams[team][i].linkedinlink!="" ){%>
                                                    <li class="nav-item"><a style="color:black ;" target="_blank"
                                                            href="<%=teams[team][i].linkedinlink%>"
                                                            class="nav-link"><i
                                                                class="fa fa-linkedin"></i></a>
                                                    </li>
                                                    <%}%>
                                                <% if(teams[team][i].twitter!="" ){%>
                                                    <li class="nav-item"><a style="color:black ;" target="_blank"
                                                            href="<%=teams[team][i].twitter%>"
                                                            class="nav-link"><i
                                                                class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <%}%>
                                            </ul>
                            </div>

                        </div>
                        <%}%>

                </div>
                <%}%>




        </div>
    </div>



    <div class="footerposition"
        style="position: absolute; width: 100%; background-color: black;">
        <%- include("partials/footer.ejs") %>
    </div>
</body>

</html>